﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome</h1>
</div>

<div class="container">
    <p class="mt-5">Please enter your email address below</p>
    <div class="row">
        <div class="form-group col-md-6">
            <input id="email" type="email" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group col-md-6">
            <button type="button" class="btn btn btn-primary" onclick="checkEmail()">Check</button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-link" onclick="saveEmail()">Save</button>
            <button type="button" class="btn btn-link" onclick="getSessionEmail()">Get saved email from session</button>
        </div>
    </div>
    <label id="result"></label>
</div>

@*
    TODO: Add HTML email input
    TODO: Add HTML button to send the email to /Home/CheckEmail
    TODO: Add HTML button to send the email to /Home/SaveEmail
    TODO: Add HTML button to request the email from /Home/GetEmail
*@


@section Scripts
{
    @*
        TODO: Add scripts
    *@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">

        function checkEmail() {
            var uri = 'checkEmail';
            var xmlhttp = new XMLHttpRequest();

            input = document.getElementById('email').value
            var data = { "email": input };

            var sendstr = JSON.stringify(data);

            xmlhttp.open("POST", uri, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/json');
            xmlhttp.send(sendstr);

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    obj = JSON.parse(xmlhttp.responseText);
                document.getElementById("result").innerHTML = obj.value;
            }
        }

        function saveEmail() {
            var uri = 'saveEmail';
            var xmlhttp = new XMLHttpRequest();

            input = document.getElementById('email').value
            var data = { "email": input };

            var sendstr = JSON.stringify(data);

            xmlhttp.open("POST", uri, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/json');
            xmlhttp.send(sendstr);

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    obj = JSON.parse(xmlhttp.responseText);
                document.getElementById("result").innerHTML = obj.value;
            }
        }

        function getSessionEmail() {
            var uri = 'getSessionEmail';
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.open("GET", uri, true);
            xmlhttp.send();

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    obj = JSON.parse(xmlhttp.responseText);
                document.getElementById("result").innerHTML = obj.value;
            }
        }
    </script>
}